*{
    margin: 0;
}
header{
    background-image: url(../images/header.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
}

header ul{
    list-style-type:none;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}
header ul li{
    display: inline-block;
    padding: 10px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    transition: 0.8s ease;
    font-size: 1.5em;
}

header ul li a#link1:hover{
    background-color: DodgerBlue;
}

header ul li a#link4:hover{
    background-color:#fff;
    color:black;
}   

header ul li a#link2:hover{
    background-color:DodgerBlue;
}

header ul li a#link3:hover{
    background-color:DodgerBlue;
}


header ul li a#link5:hover{
    background-color:DodgerBlue;
}

header ul li a#link4{
    background-color:rgb(7, 148, 70);
}

#logo img{
    float:left;
    width: 150px;
    height:auto;
    margin-left: 30px;
}

/* ---------------------------------------- */

.section1{
    margin-top: 70px;
}


#video1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*-------------------------------------------*/

.section2{
    margin-top: 70px;
}
.section2:after{
    
    content: "";
    display: block;
    clear: both;
}

.column{
    margin-left: 5px;
    float: left;
    width: 33%;
}

.content1{
    background-image:url(../images/flower1.jpg);
    background-size: 150px 150px;
    background-repeat:space;
    background-origin: content-box;
    background-position: center;

}

#video2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#border1{
    border-style: dotted;
    text-shadow: 2px 1px rgb(78, 68, 216);}

#border2{
    border-style: double;
    text-shadow: 2px 1px rgb(78, 68, 216);
}

p{
   padding-left: 5px;
   font-weight: bold;
    font-size: 20px;
    color:black;
}

nav {
    background-color: #cce5ff;
    border: 2px solid dodgerblue;
    border-radius: 15px 50px;
    box-shadow: 25px 10px 10px rgb(103, 171, 238);
    margin: 1%;

}
nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    font-size: 26px;
    padding: 1.5em;
}

nav ul li a{
    text-decoration: none;
    color: dodgerblue;
    transition: 0.8s ease;
    padding: 5px;
    border: 10px solid transparent;
    border-image: url(../images/border.jpg) 200 round;

}

nav ul li a:hover{
    background-color:#fff;
    color:black;
}

article{
    overflow: auto;

}

#wrap{
    width: 250px;
    border: 1px solid black;
    word-wrap: break-word;
    font-size: 20px;
    display: block;
    margin:auto;
}

.part3{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/trip.png), url(../images/rocky.jpeg);
    background-position: right bottom, left top ;
    background-position: center ;
    background-repeat: no-repeat, no-repeat;
}

.part3 p {
    color:white;
}

.part1{
    background: radial-gradient(#387989, #6dd5ed);
}

.part1, .part2, .part3{
    width: 31.3%;
    float: left;
    margin: 1%;
}

.part3{
    margin-right: 1%;
}