*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../images/header.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
 
}

ul{
    list-style-type:none;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}
ul li{
    display: inline-block;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    transition: 0.8s ease;
    font-size: 1.5em;
    
}

ul li a#link5:hover{
    background-color: #fff;
    color:black;
}

ul li a#link1:hover{
    background-color:DodgerBlue;
}

ul li a#link2:hover{
    background-color:DodgerBlue;
}

ul li a#link3:hover{
    background-color:DodgerBlue;
}


ul li a#link4:hover{
    background-color: DodgerBlue;
}


ul li a#link5{
    background-color:rgb(7, 148, 70);
}

#logo img{
    float:left;
    width: 150px;
    height:auto;
    margin-left: 30px;
    
}

/*--------------------------------------*/

.content{
    margin-top: 70px;
    background-image: url(../images/contact.jpg);
    height: 120vh;
    background-size: cover;
    background-position:center;
}


h1{
    position: absolute;
    width: 100%;
    text-align: center;
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    margin-top: 60px;
}

 .section1{
    position: absolute;
    top:37%;
    width: 100%;
}

.article1{
    width: 50%;
    float: left;
}

h2{
    color:#ffffff;
    margin-left: 80px;
    font-size: 40px;
}

h3{
    color:#ffffff;
    margin-left: 80px;
    font-size: 30px;
}

.article2{
    width: 50%;
    float:right;
}

 #section2{
    position: absolute;
    margin-top:480px;
    width: 100%;
    margin-bottom: 116px;

}

fieldset{
    position: absolute;
    left: 30%;
    margin: 30px;
    color:#ffffff;
    width: 40%;
}

label{
    font-size: 26px;
    padding: 5px 50px 5px;

}

input[type=text]{
    width: 60%;
    padding:12px;
}

input[type=email] {
    margin-left: 45px;
    width: 60%;
    padding:12px;
}

input[type=radio]{
margin-left:33px;
}

textarea{
    margin-left:20px;
}

button{
    background-color: rgb(5, 163, 76);
    color:white;
    text-align: center;
    padding:14px 20px;
    width: 100%;
}

mark{
    background-color: rgb(160, 202, 243);
    color:white;
}

footer{
    padding-top: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 70px;
    height: 5vh;
    width: 100%;
    background-color:rgb(5, 65, 126);
} 