

.content{
    margin-top: 70px;
    background-image: url(../images/contact.jpg);
    height: 120vh;
    background-size: cover;
    background-position:center;
}


h1{
    position: absolute;
    width: 100%;
    text-align: center;
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    margin-top: 60px;
}

 .section1{
    position: absolute;
    top:37%;
    width: 100%;
}

.article1{
    width: 50%;
    float: left;
}

h2{
    color:#ffffff;
    margin-left: 80px;
    font-size: 40px;
}

h3{
    color:#ffffff;
    margin-left: 80px;
    font-size: 30px;
}

.article2{
    width: 50%;
    float:right;
}

fieldset{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:rgb(255, 255, 255);
    font-weight: bold;
    width: 40%;
}

label{
    font-size: 26px;
    padding: 5px 50px 5px;

}

input[type=text]{
    width: 60%;
    padding:12px;
}

#text1{
    margin-left:-3.6px;
}

input[type=email] {
    margin-left: 48px;
    width: 60%;
    padding:12px;
}

input[type=radio]{
    margin-left:33px;
    width: 16px;
    height: 18px;
}

textarea{
    margin-left:20px;
}

button{
    background-color: rgb(5, 163, 76);
    color:white;
    text-align: center;
    padding:14px 20px;
    width: 100%;
}

mark{
    background-color: rgb(160, 202, 243);
    color:white;
}

footer{
    padding-top: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 70px;
    height: 5vh;
    width: 100%;
    background-color:rgb(5, 65, 126);
} 