*{
    margin: 0;
}
header{
    background-image: url(../images/header.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
}

header ul{
    list-style-type:none;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}
header ul li{
    display: inline-block;
    padding: 10px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    transition: 0.8s ease;
    font-size: 1.5em;
}

header ul li a#link1:hover{
    background-color: DodgerBlue;
}

header ul li a#link2:hover{
    background-color:#fff;
    color:black;
}

header ul li a#link3:hover{
    background-color:DodgerBlue;
}

header ul li a#link4:hover{
    background-color:DodgerBlue;
}

header ul li a#link5:hover{
    background-color: DodgerBlue;
}

header ul li a#link2{
    background-color:rgb(7, 148, 70);
}

#logo img{
    float:left;
    width: 150px;
    height:auto;
    margin-left: 30px;
}
/*--------------------------------------*/



.section1{
    margin-top: 70px;
}

.title{
    position:absolute;
    margin-left: 28%;
    margin-top: 150px;
    color:rgb(10, 92, 175);

}
/*----------------------------------------*/
.content1{
    width: 60%;
    position: absolute;
    padding:18px;
}

.mountain{
    color:rgb(8, 160, 41);
    font-weight: bold;
}

fieldset{
    margin:30px;
    }

 figure.rocky{
    float:right; 
    padding: 18px;
    border: 1px solid #ccc;
    margin:18px;
    }

figure a{
    color: #000;
    }

/*--------------------------------------*/

.article2{
    padding: 20px;
}

figure.thunder{
    float:left;
    padding:18px;
    border: 1px solid #ccc;
    margin:18px;
}

span, p{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content2{
    width: 60%;
    float: right;
    padding: 18px;
}

.section1 ul{
    display: inline-block;
}

.list-table {
    width:100%;
}

table{
    float:right;
    margin-right: 20px;
    border-collapse: collapse;
}

table,th,td{
    border: 1px solid black;
}

td{
        text-align: center;
    }

footer{
    padding-top: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 70px;
    height: 5vh;
    width: 100%;
    background-color:rgb(5, 65, 126);
} 

/*--------------------------------------*/

#list-table{
    margin-top: 5px;;
}

#list{
    margin-top: 20px;
    width: 20%;
    float:left;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 116px;
    background:#cce5ff;
    

}

#list1{
    margin-top: 20px;
    width: 20%;
    float:left;
    font-size: 22px;
    font-style: italic;
    background:#cce5ff;

}

#list1 ol{ 
    list-style-position: inside;
}

#list1 ol li{
    background:#cce5ff;
}

#listt{
    margin-top: 20px;
    width: 60%;
    float:left;
    font-size: 22px;
    font-style: italic;
    }

.bold {
    font-weight: bold;
}

dt{
    background: #3399ff;
}

dd{
    background:#cce5ff;
    padding-left: 38px;

}

h4 , h5{
    font-size: 18px;
}