*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../images/header.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
}

ul{
    list-style-type:none;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}
ul li{
    display: inline-block;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    transition: 0.8s ease;
    font-size: 1.5em;
    
}

ul li a.link1:hover{
    background-color: DodgerBlue;
}

ul li a.link2:hover{
    background-color:#fff;
    color:black;
}

ul li a.link3:hover{
    background-color:DodgerBlue;
}
ul li a.link4:hover{
    background-color: DodgerBlue;
}

ul li a.link2{
    background-color:rgb(7, 148, 70);
}

.logo img{
    float:left;
    width: 150px;
    height:auto;
    margin-left: 30px;
    
}
/*--------------------------------------*/

.section1{
    margin-top: 70px;
}

.title{
    position:absolute;
    margin-left: 28%;
    margin-top: 150px;
    color:rgb(10, 92, 175);
  
}

.content{
    width: 60%;
    position: absolute;
    padding:18px;
}

.section2{
    margin-top: 70px;
}

fieldset{
    margin:30px;
}

figure.rocky{
    float:right; 
    padding: 18px;
}

figure a{
    color: #000;
}

/*--------------------------------------*/

.section3{
    margin-top: 70px;
}

.article2{
    padding: 20px;
}

figure.thunder{
    float:left;
    padding:18px;
}

p{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}