*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../images/header.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
    position: sticky;
}

ul{
    list-style-type:none;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}
ul li{
    display: inline-block;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    transition: 0.8s ease;
    font-size: 1.5em;
    
}

ul li a.link1:hover{
    background-color: #fff;
    color:black;
}

ul li a.link2:hover{
    background-color:DodgerBlue;
}

ul li a.link3:hover{
    background-color:DodgerBlue;
}
ul li a.link4:hover{
    background-color: DodgerBlue;
}

ul li a.link1{
    background-color:rgb(7, 148, 70);
}

.logo img{
    float:left;
    width: 150px;
    height:auto;
    margin-left: 30px;
    
}

article{
    margin-top: 70px;
}
article > img{
 
    width: 100%;
    height:500px;
}

.title{
    position:absolute;
    margin-left: 35%;
    margin-top: 150px;
    color:rgb(10, 92, 175);
   
}

section{
    width: 100%;
}

.content{
    position: relative;
    margin-top: 70px;
    text-align: center;
    width: 100%;
}

section.picture2{
    margin-top: 70px;
    width: 100%;
    height: auto;
    left: 40%;
}

.picture2 img{
    width: 100%;
    height:500px;
}