
article{
    margin-top: 70px;
}

article img{
    width: 100%;
    height:500px;
}

#title{
    position:absolute;
    margin-left: 35%;
    margin-top: 150px;
    color:rgb(10, 92, 175);
}

section{
    width: 100%;
}

#content{
    position: relative;
    max-width: 40%;
    margin:auto;
    margin-top: 70px;
    text-align: center;
    width: 100%;
}

section#picture2{
    margin-top: 70px;
    width: 100%;
    height: auto;
    left: 40%;
    margin-bottom: 116px;
}

#picture2 img{
    width: 100%;
    height:500px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 70px;
    height: 5vh;
    width: 100%;
    background-color:rgb(5, 65, 126);
} 

h2{
    display: inline-block;
}

span{
    font-size:25px;
    color:rgb(8, 88, 168);
    font-weight: bold;
}

#outlinee{
    border: 2px solid black;
    outline: dodgerblue solid 5px;
}
h2{
    text-shadow: 1px 1px 1px dodgerblue;
}

#rotate{
    position: absolute;
    margin-left: -400px;
    margin-top: 142px;
    width: 210px;
    height: 210px;
    background-color: dodgerblue;
    transition: all 3.8s ease-in-out;
}

#rotate:hover{
    background-color: rgb(7, 148, 70);
    transform: rotate(360deg);
    font-size: 50px;
}

#rotate span {
    position: absolute;
    color:white;
    margin-left:-95px;
    font-size: 26px;
    transform: skew(10deg);
    margin-top: 30px;
    text-decoration: none;
}

#span2 {
    position: absolute;
    color:white;
    margin-left:-95px;
    transform: skew(10deg);
    margin-top: 30px;
    text-decoration: none;
}

#rotate2{
    position: absolute;
    margin-left: 900px;
    margin-top: 110px;

}

rect{
    transition: all 0.8s ease-in-out;
}

rect:hover {
    transform:scale(0.9);
    fill: rgb(7, 148, 70);
}

@font-face{
    font-family: 'Nautigal';
    src: url('.fonts/TheNautigal-Regular.ttf');
    font-style: normal;
    color:black;
    
}

#title h1, h3{
    font-family: 'Nautigal' !important;
}